{% extends "home/home.html" %}
{% block css%}

<link href='https://fonts.googleapis.com/css?family=Josefin+Sans|Audiowide|Berkshire+Swash|Cabin+Sketch|Raleway:400,700'
      rel='stylesheet' type='text/css'/>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
<link rel="stylesheet" href="{{url_for('static',filename='base/css/LionCoders.css')}}">

{%endblock%}
{% block content %}
<div class="first row">
    <div class="col-md-4 name-block-container reverse">
        <h1><span>Hi, I'm</span>
            Dylana (Yangyang) Wang</h1>
        <h2>Data Scientist</h2>
        <a class="btn btn-download" href="/YiweiLiu_Resume.pdf" download="Dylana_Wang_Resume">Download
            Resume</a>
        <a class="btn btn-online"
           href="https://drive.google.com/file/d/1JpzRRl5kY8ZSrI8xAf0HlESrGT9PmN5M/view?usp=sharing"
           target="_blank">View Resume Online</a>
        <div class="social">
            <ul>
                <li><a href="https://www.linkedin.com/in/dylana-wang-971982163/"
                       target="_blank"><i
                        class="fa fa-linkedin"></i></a></li>
                <li><a href="https://www.facebook.com/wangyangtot" target="_blank"><i
                        class="fa fa-facebook"></i></a></li>
                <li><a href="https://github.com/wangyangtot" target="_blank"><i
                        class="fa fa-github"></i></a>
            </ul>

        </div>
    </div>
    <div class="col-md-12 content-blocks about showx">
        <div class="row content">
            <div class="col-md-8">
                <h3 class="block-title">Profile</h3>
                <p> &nbsp &nbsp &nbsp &nbsp I am a Ph.D. candidate in Economics, and I just got Master of
                    Science in Applied Mathematics from UCR this summer (2017). I also have done multiple web
                    development and mobile development projects.</p>
                <p> &nbsp &nbsp&nbsp &nbsp My education background has provided me a variety of technical skills
                    and people skills which allow me to relate to all levels of management and work successfully
                    with a diversity of personalities. </p>
                <p> &nbsp &nbsp&nbsp &nbsp I also enjoy being challenged and working on projects that require me
                    to work outside my comfort zone and knowledge set, as continuing to learn new languages and
                    development techniques are important to me and the success of any organization.</p>
            </div>
            <div class="col-md-4">
                <ul class="info-list">
                    <li><strong>Name : </strong> Dylana (Yangyang) Wang</li>
                    <li><strong>Address : </strong> Riverside, CA</li>
                    <li><strong>Email : </strong> wangyangtot@gmail.com</li>
                    <li><strong>Phone : </strong> +1-951-801-1451</li>
                    <li><strong>Interest : </strong> Full Time Data Scientist</li>

                </ul>
            </div>
        </div>
        <div class="block-content ">
            <h3 class="block-title">Skills</h3>
            <div class="row">
                <div class="col-sm-6">
                    <h4>Technical Skills</h4>
                    <label class="progress-bar-label"> Python - <span>Advanced</label>
                    <div class="progress">
                        <div style="width: 80%;" class="progress-bar" role="progressbar" aria-valuenow="85"
                             aria-valuemin="0" aria-valuemax="100">
                            <span> 80%</span>
                        </div>
                    </div>

                    <label class="progress-bar-label">C++/C - <span>Intermediate</span></label>
                    <div class="progress">
                        <div style="width: 67%;" class="progress-bar" role="progressbar" aria-valuenow="67"
                             aria-valuemin="0" aria-valuemax="100">
                            <span>60%</span>
                        </div>
                    </div>
                    <label class="progress-bar-label"> Java - <span>Intermediate</label>
                    <div class="progress">
                        <div style="width: 62%;" class="progress-bar" role="progressbar" aria-valuenow="69"
                             aria-valuemin="0" aria-valuemax="100">
                            <span>60%</span>
                        </div>
                    </div>
                    <label class="progress-bar-label"> Javascript - <span>Intermediate</label>
                    <div class="progress">
                        <div style="width: 50%;" class="progress-bar" role="progressbar" aria-valuenow="69"
                             aria-valuemin="0" aria-valuemax="100">
                            <span>50%</span>
                        </div>
                    </div>
                    <label class="progress-bar-label">HTML&amp;CSS - <span>Intermediate</span></label>
                    <div class="progress">
                        <div style="width: 70%;" class="progress-bar" role="progressbar" aria-valuenow="99"
                             aria-valuemin="0" aria-valuemax="100">
                            <span>70%</span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <h4>Know-how</h4>
                    <div class="row">
                        <div class="col-sm-6">
                            <ul class="icon-list">
                                <li>Machine Learning</li>
                                <li>Data analysis</li>
                                <li>Deep Learning</li>
                                <li>Web Development</li>
                                <li>Object-Oriented Design</li>
                                <li>Relational Database (e.g. MySQL)</li>

                                <li>NoSQL Database (e.g. MongoDB)</li>

                            </ul>
                        </div>
                        <div class="col-sm-6">
                            <ul class="icon-list">
                                <li>Data Structure and Algorithm</li>
                                <li>hadoop</li>
                                <li>D3</li>


                                <li>Bootstrap</li>
                                <li>DOM Manipulation</li>
                                <li>JQuery</li>


                                <li>AWS</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="block-content ">
            <h3 class="block-title">Projects</h3>
            <div class="timeline experience">

                <div class="row ">
                    <div class="col-md-12">
                        <div class="exp-holder">
                            <div class="exp">
                                <div class="hgroup">
                                    <h4> EmotionalArcMovie </h4>
                                    <h5>Python Web Service Development - Movie Search and Recommendation Engine</h5>
                                </div>
                                <ul>
                                    <li>-Developed a <strong>interactive web page</strong> for users to search events
                                        and
                                        update preference;
                                    </li>
                                    <li>-Improved<strong> personalized event recommendation</strong> based on user
                                        rating history and movie simplarity;
                                    </li>
                                    <li>-Implemented <strong>RESTful APIs</strong> in Java using servlets to handle HTTP
                                        requests and responses;
                                    </li>
                                    <li>-Built databases (both relational<strong> (MySQL) </strong>and<strong> NoSQL
                                        (MongoDB)) </strong>to fetch event data from TicketMaster API (This was also
                                        tested with Yelp API);
                                    </li>
                                    <li>-Deployed server side to<strong> Amazon EC2 </strong>to handle 150 QPS tested by<strong>
                                        Apache JMeter</strong>;
                                    </li>
                                    <li>Designed an interactive web page utilizing<strong> AJAX technology </strong>(HTML,
                                        CSS and JavaScript);
                                    </li>
                                    <li>-Used<strong> ELK </strong>for user behavior analysis.</li>
                                </ul>
                            </div>

                            <div class="exp">
                                <div class="hgroup">
                                    <h4>GoPlaces:</h4>
                                    <h5>LBS based Android App</h5>
                                </div>
                                <ul>
                                    <li>-Developed an <strong>Android App</strong> to post and search for events based
                                        on keywords;
                                    </li>
                                    <li>-Integrated <strong>Google Map API</strong> to display and navigate to nearby
                                        events;
                                    </li>
                                    <li>-Utilized <strong>Google Firebase</strong> to store and manage UGC data
                                        (comments, image, event descriptions, etc);
                                    </li>
                                    <li>-Used in-app advertising <strong>Google AdMob</strong> to display ads from
                                        Google advertises in real time.
                                    </li>
                                </ul>
                            </div>

                            <div class="exp">
                                <div class="hgroup">
                                    <h4>iGoPlaces:</h4>
                                    <h5>Geo-index Based Social Network - iOS APP</h5>
                                </div>
                                <ul>
                                    <li>-Developed a forum-like <strong>iOS App</strong> to post threads;</li>
                                    <li>-Built a scalable web service with <strong>Golang</strong> to handle POST
                                        requests and deployed to Google Cloud (<strong>GAE Flex</strong>) for automatic
                                        scaling;
                                    </li>
                                    <li>Created <strong>BigTable</strong> in Google Cloud for persistent storage of user
                                        information and posts;
                                    </li>
                                    <li>Used <strong>Google Data-flow</strong> to dump daily user data from BigTable to
                                        <strong>BigQuery</strong> table for better performance of off-line analysis;
                                    </li>
                                    <li>Aggregated the data in <strong>BigQuery</strong> at post level and user level
                                        for spam detection.
                                    </li>
                                </ul>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="block-content">
            <h3 class="block-title">Education</h3>
            <div class="timeline education">
                <div class="row ">
                    <div class="col-md-12">
                        <div class="exp-holder">
                            <div class="exp edu">
                                <div class="hgroup">
                                    <h4>Ph.D. in Computational Chemistry - UCR </h4>
                                    <h5>Sept 2015 - <span class="current">Current (on hold, in progress)</span> ;</h5>
                                </div>
                            </div>
                            <div class="exp edu">
                                <div class="hgroup">
                                    <h4>Master of Science in Computational Chemistry - UCR</h4>
                                    <h5>Sept 2015 - July 2017;</h5>
                                </div>
                            </div>
                            <div class="exp edu">
                                <div class="hgroup">
                                    <h4>Bachelor of Science in Chemistry- University of Science and
                                        Technology of China</h4>
                                    <h5>Sept 2011 - July 2015;</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

{%endblock%}