<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1,maximum-scale=1"/>
    <title>SentimentMovie</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='mood/mood.css')}}">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.17/d3.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.4/semantic.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.4/semantic.min.css" type="text/css"
          rel="stylesheet"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='mood/range.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='base/css/bootstrap-movie.css')}}">

</head>
<!-- ARTIST SIDEBAR (RIGHT SIDE) -->
<div class="ui thin sidebar right inverted vertical menu" id="artist_sidebar"
     style="width:400px;height: 800px !important;">
    <div class="item">
        <i class="close icon link" id="artist_sidebar_close"></i>
        <h2 class="ui inverted header" id="sidebar_header">
            <div class="content" id="sidebar_header_text"></div>
        </h2>
        <div class="content">
            <div id="sidebar_spotify_content"></div>
        </div>
    </div>
    <div id="emotion_influence">
        <h3 style="color:white;text-align:center; padding:3px;font-weight:bold;font-style:italic;"> Emotion
            Influence </h3>
        <div><span style="width:40px;margin-left:50px;margin-top:10px;color:#ccc;">Weak</span>
            <span style="width:40px;margin-left:220px;margin-top:10px;color:#ccc;">Strong</span>
        </div>
        <div class="ui range" id="emotion_range" style="width:200px;margin-top:-20px;margin-left:100px"></div>
    </div>
    <div class="borderless item">
        <!--genome recommendation if users has not logged in-->
        {% if "user" not in session%}
        <h5 class="panel-title" style="color:white;font-weight:bold;font-style:italic;">
            <span class="glyphicon glyphicon-comment"></span>&nbsp;Genome Recommendations For You
        </h5>
        <div class="content" id="recommend_content"></div>
        {%endif%}
        <!--customed recommendation if users has logged in-->

        {% if "user" in session%}
        <h3 class="panel-title" style="color:white;font-weight:bold;font-style:italic;">
            <span class="glyphicon glyphicon-comment"></span>&nbsp;Customed Recommendations For You
        </h3>
        <div class="content" id="recommend_content_yes"></div>
        <script>
            function change_recommend_movie_yes(RangeValue, movie_name) {
                var uid = {{session['user_id']}};
                $.ajax({
                    type: 'GET',
                    url: '/change_recommend_movie_yes',
                    data: {"range_value": RangeValue, "title": movie_name, "user_id": uid},
                    dataType: 'json',
                    success: function (data) {
                        $("#recommend_content_yes").empty();
                        recommend_title_list = data.recMovieTitle;
                        recommend_id_list = data.recMovieId;
                        for (j = 0; j < recommend_title_list.length; j++) {
                            console.log(recommend_title_list[j])
                            extract_yes(recommend_title_list[j], recommend_id_list[j]);

                        }

                    }
                });


            };</script>
        {%endif%}
    </div>

    <div class="ui dimmer" id="sidebar_dimmer">
        <div class="ui text loader">Loading</div>
    </div>
</div>

<!-- END ARTIST SIDEBAR -->


<div class="ui container pusher" id="main_container">
    <div class="ui dimmer" id="main_container_loader">
        <div class="ui text loader">Loading</div>
    </div>

    <div id="top_controls">
        <!-- SEARCH BAR -->
        <div class="ui search" id="artist_search">
            <div class="ui mini icon inverted input">
                <input class="prompt" type="text" placeholder="Search movie...">
                <i class="search icon"></i>
            </div>
            <div class="results"></div>
        </div>

        <!-- LABELS -->
        <div class="ui container" id="labels_container">
            <a class="ui mini label popup_info green_back" style="background-color:#ef8a62"
               onclick="switch_color(this);"
               data-html="<b>Sublimity</b> includes this feelings:<br><i>Peacefulness<br>Nostalgic<br>Transcendence<br>Wonder<br>Tenderness</i>">group0</a>
            <a class="ui mini label popup_info red_back" style="background-color:#fddbc7"
               onclick="switch_color(this);"
               data-html="<b>Unease</b> includes this feelings:
        <br><i>Repulsive<br>Lethargy<br>Sadness<br>Fear<br>Tension</i>">group1</a>
            <a class="ui mini label popup_info white_back" style="background-color:#ffffff"
               onclick="switch_color(this);"
               data-html="<b>Style</b> includes this feelings:<br><i>Fancy<br>Cerebral<br>Mechanical<br></i>">group2</a>
            <a class="ui mini label popup_info blue_back" style="background-color:#e0e0e0"
               onclick="switch_color(this);"
               data-html="<b>Vitality</b> includes this feelings:<br><i>Joyful activation<br>Power</i>">group3</a>
            <a class="ui mini label popup_info grey_back" style="background-color:#999999"
               onclick="switch_color(this);"
               data-html="<b>Vitality</b> includes this feelings:<br><i>Joyful activation<br>Power</i>">group4</a>
            <a class="ui mini label popup_info" style="background-color:#b2182b" onclick="switch_color(this);"
               data-html="<b>Vitality</b> includes this feelings:<br><i>Joyful activation<br>Power</i>">group5</a>
        </div>

    </div>


    <div id="left_controls">
        <!-- BUTTONS -->
        <div id="buttons">
            <div class="ui small white fluid label" id="zoom_ptg" disabled>100%</div>
            <button class="ui small icon grey button popup_info" id="zoom_in">
                <i class="plus icon"></i>
            </button>
            <button class="ui small icon grey button popup_info" id="zoom_out">
                <i class="minus icon"></i>
            </button>
            <button class="ui small icon grey button popup_info" id="zoom_rst" data-content="Reset zoom level">
                <i class="refresh icon"></i>
            </button>
            <button class="ui small icon grey button popup_info" id="examples"
                    data-content="Show examples on the map">
                <i class="marker icon"></i>
            </button>
            <button class="ui small icon grey button popup_info" id="colorize" data-content="Colorize map">
                <i class="eyedropper icon"></i>
            </button>
        </div>
    </div>
    <!-- CREDITS -->
    <div id="credits_container">
        <p>About <a target='_blank' href="http://www.mat.ucsb.edu/~ivana/moodplay.html">This Project </a>

            & About <a target='_blank'  href="{{url_for('home.AboutDylana')}}"> The Contributor</a></p>
    </div>
</div>
</body>

<!--<script src="static/js/js.cookie.js"></script>

<script src="static/js/fisheye.js"></script>
<script src="/static/js/avatar.js"></script>
<script src="{{url_for('static',filename='mood/smallest_circle_enclosing.js')}}"></script>-->
<script type="text/javascript" src="{{ url_for('static',filename='mood/range.js')}}"></script>
<script src="{{url_for('static',filename='mood/data_receiver.js')}}"></script>
<script src="{{url_for('static',filename='mood/helper.js')}}"></script>
<script type="text/javascript">
    $('.popup_info').popup({variation: 'tiny inverted', position: 'right center'});
    $('.ui.accordion').accordion();

    // binding sidebar for touch/nontouch devices
    $('#artist_sidebar_close').on('click', function () {
        $('#artist_sidebar').sidebar('hide');
    });
    $('#artist_sidebar_close').on('touchstart', function () {
        $('#artist_sidebar').removeClass('animating');
        $('#artist_sidebar').sidebar('hide');
    });
</script>


<script>
    var ZOOMCLICK_FACTOR = 0.2;
    //var STREAM_URL = 'http://localhost:8001/stream'

    // DATA LOADING FROM VIEW
    var container = d3.select("#main_container");

    // gets the width/height of the container in order to plot the points
    var width = parseInt(container.style("width").slice(0, -2)) - 10;  // -10 to "avoid" edges
    var height = parseInt(container.style("height").slice(0, -2)) - 10;
    // gets the data from the view, and transform the [0,1]-valued width/height, into a plottable numbe
    var raw_data =
        {{data.scatter_data | safe}};
    var raw_line_data =
        {{data.line_data | safe}};
    var data1 = [];
    for (var i = 0; i < raw_data.length; i++) {
        data1[i] = {
            id: raw_data[i].movieId,
            name: raw_data[i].name,
            category: raw_data[i].group,
            color: raw_data[i].color,
            x: +raw_data[i].x,
            y: +raw_data[i].y,
        };
    };
    var line_data=[];
    for (var i = 0; i < raw_line_data.length; i++) {
        line_data[i] = {
            id: raw_line_data[i].id,
            line_points: [],
        };
        for (var j = 0; j < 99; j++) {
            line_data[i].line_points.push({
                index: j,
                point: raw_line_data[i][j]
            })
        }
    };


    var x = d3.scale.linear().domain([
        d3.min(data1, function (d) {
            return +d.x;
        }),
        d3.max(data1, function (d) {
            return +d.x;
        })
    ]).range([100, width - 200]);

    var y = d3.scale.linear().domain([
        d3.min(data1, function (d) {
            return +d.y;
        }),
        d3.max(data1, function (d) {
            return +d.y;
        })
    ]).range([height - 50, 100]);


    // creating svg elements (container, groups, circles)


    function transform(d) {
        return "translate(" + x(d.x) + "," + y(d.y) + ")";
    }

    function transform_rect_2(d){
        return "translate(" + (x(d.x)+10) + "," + (y(d.y)-100) + ")";

    }


    function transform_romb(d) {
        return "translate(" + (x(d.x) + 9.5) + "," + (y(d.y) - 6) + ")rotate(45)";
    }

    function transform_rect(d) {
        return "translate(" + (x(d.x) + 9) + "," + (y(d.y) - 12) + ")";
    }

    function transform_circle(d) {
        return "translate(" + x(d.x) + "," + y(d.y) + ")scale(" + (1 + ((zoom.scale() - 1) * 0.5)) + ")";
    }


    function zoomed() {
        // la siguiente linea hace q haya escalamiento pero muy poco
        svg.selectAll('g').attr('transform', "scale(" + (1 + ((zoom.scale() - 1) * 0.05)) + ")");
        svg.selectAll('.zoomable').attr('transform', transform);
        svg.selectAll('.zoomable_rect').attr('transform', transform_rect);
        svg.selectAll('.zoomable_romb').attr('transform', transform_romb);
        svg.selectAll('#lock_circle').attr('transform', transform_circle);

        var zoom_level = Math.round(zoom.scale() * 100, 0);
        d3.select('#zoom_ptg').text(String(zoom_level) + '%');
    }

    function interpolateZoom(translate, scale) {
        var self = this;
        return d3.transition().duration(250).tween("zoom", function () {
            var iTranslate = d3.interpolate(zoom.translate(), translate),
                iScale = d3.interpolate(zoom.scale(), scale);
            return function (t) {
                zoom
                    .scale(iScale(t))
                    .translate(iTranslate(t));
                zoomed();
            };
        });
    }

    function zoomClick(direction) {
        var //clicked = d3.event.target,
            factor = ZOOMCLICK_FACTOR,
            center = [width / 2, height / 2],
            extent = zoom.scaleExtent(),
            translate = zoom.translate(),
            translate0 = [],
            l = [],
            view = {x: translate[0], y: translate[1], k: zoom.scale()};
        var event = d3.event;
        if (event) {
            event.preventDefault();
        }
        target_zoom = zoom.scale() + direction * factor;
        // from 150% of zoom, enlarge the zooming/make it faster (20% of actual value)
        if (zoom.scale() > 1.5) {
            target_zoom = zoom.scale() * (1 + direction * factor);
        }
        // reset the zoom level to 100%
        if (direction === 0) {
            target_zoom = 1;
        }
        // prevent zoom to exceed the extents (set to min/max in case)
        if (target_zoom < extent[0]) {
            target_zoom = extent[0];
        }
        else if (target_zoom > extent[1]) {
            target_zoom = extent[1];
        }


        translate0 = [(center[0] - view.x) / view.k, (center[1] - view.y) / view.k];
        view.k = target_zoom;
        l = [translate0[0] * view.k + view.x, translate0[1] * view.k + view.y];

        view.x += center[0] - l[0];
        view.y += center[1] - l[1];

        //interpolateZoom([view.x, view.y], view.k);
    }
    function zoomClick_for_set(direction) {
        var //clicked = d3.event.target,
            factor = ZOOMCLICK_FACTOR,
            center = [width / 2, height / 2],
            extent = zoom.scaleExtent(),
            translate = zoom.translate(),
            translate0 = [],
            l = [],
            view = {x: translate[0], y: translate[1], k: zoom.scale()};
        var event = d3.event;
        if (event) {
            event.preventDefault();
        }
        target_zoom = zoom.scale() + direction * factor;
        // from 150% of zoom, enlarge the zooming/make it faster (20% of actual value)
        if (zoom.scale() > 1.5) {
            target_zoom = zoom.scale() * (1 + direction * factor);
        }
        // reset the zoom level to 100%
        if (direction === 0) {
            target_zoom = 1;
        }
        // prevent zoom to exceed the extents (set to min/max in case)
        if (target_zoom < extent[0]) {
            target_zoom = extent[0];
        }
        else if (target_zoom > extent[1]) {
            target_zoom = extent[1];
        }


        translate0 = [(center[0] - view.x) / view.k, (center[1] - view.y) / view.k];
        view.k = target_zoom;
        l = [translate0[0] * view.k + view.x, translate0[1] * view.k + view.y];

        view.x += center[0] - l[0];
        view.y += center[1] - l[1];

        interpolateZoom([view.x, view.y], view.k);
    }


    var zoom = d3.behavior.zoom().x(x).y(y).scaleExtent([0.5, 25]).on("zoom", zoomed);


    function hide_label(id_g) {
        var glabels = svg.select('#' + id_g)
        glabels.transition().duration(200).style('opacity', '0');
        glabels.selectAll('*').transition().duration(200).remove();
    }

    // function to create and show a label for a desired artist or artists

    var title_dict = [];
    var element_dict = [];

    for (var i = 0; i < data1.length; i++) {
        title_dict.push({title: data1[i].name});
        element_dict[data1[i].name] = data1[i];
    }

    function show_highlight(d) {
        var gcircles = svg.select('#circles_highlight');
        gcircles.selectAll('*').remove();
        var group = gcircles.selectAll('*').data(Array(d)).enter();
        var highlight = group.insert('circle', ':first-child')
            .attr('id', '#circle_highlight')
            .attr('class', 'zoomable')
            .attr('transform', transform)
            .attr('r', 5)
            .attr('fill', '#fff')
            .attr('pointer-events', 'none')
            .style('opacity', '0.8');
        repeat();

        function repeat() {
            highlight.transition()
                .duration(600)
                .attr('r', 5)
                .transition()
                .duration(600)
                .attr('r', 5)
                .ease('sine')
                .each('end', repeat);
        }

        gcircles.style('opacity', '0').transition().duration(300).style('opacity', '0.9');
    }

    function switch_color(element) {
        hide_label('labels_search');
        hide_label('circles_highlight');
        var bg_color = $(element).css('backgroundColor');
        var txt_color = $(element).css('color');
        $(element).css('backgroundColor', txt_color);
        $(element).css('color', bg_color);
        var category = $(element).html();
        svg.selectAll('circle, .cluster_name')
            .filter('.' + category)
            .style('visibility', function (d) {
                var active = d.active ? false : true;
                d.active = active ? 1 : 0;
                return active ? 'hidden' : 'visible';
            });
    }


    function show_labels_by_array(artists_names, id_group) {
        var artists = [];
        for (var i = 0; i < artists_names.length; i++) {
            if (artists_names[i] in element_dict) {
                artists.push(element_dict[artists_names[i]])
            }
        }
        show_label(artists, id_group);
    }

    function examples() {
        hide_label('circles_highlight');
        var artists_names = ['the-darkest-hour', 'iron-man-3', 'the-shawshank-redemption', 'diana'];
        show_labels_by_array(artists_names, 'labels_search');
    }


    var svg = container
        .append("svg")
        .attr("width", "100%")
        .style('background-color', '#4d4d4d')
        .attr("height", "100%")
        .attr('id', 'main_svg')
        .call(zoom);


    var labels_search = svg
        .append('g')
        .attr('id', 'labels_search')
        .style('opacity', '0.9');


    var circles = svg.append('g')
        .attr('id', 'points')
        .selectAll('circle')
        .data(data1)
        .enter()
        .append('a')
        .attr('xlink:href', function (d) {
           return 'javascript:point_click("' + d.name +'",'+'"'+d.id.toString()+'");'
        })
        .attr('target', '_blank')
        .style('cursor', 'pointer')
        .append('circle')
        .attr('class', function (d) {
           return 'zoomable ' + d.category
        })
        .attr('id', function (d) {
            return d.id
        })
        .attr('fill', function (d) {
            return d.color
        })
        .attr('r', 4)
        .attr('transform', transform)
        .on('mouseover', function (d) {
            return show_sentiment_line(Array(d),'path_rect')

            //return show_label(Array(d), 'labels')

        })
        .on('mouseout', function (d) {
            return hide_sentiment_line('path_rect')
            //return hide_label('labels')
        });

    var highlights = svg
        .append('g')
        .attr('id', 'circles_highlight')
        .style('opacity', '0.9');
    var enclosing_circles = svg
        .append('g')
        .attr('id', 'enclosing_circle')
        .style('opacity', '0.5');

    var locks = svg
        .append('g')
        .attr('id', 'circles_lock')
        .style('opacity', '0.9');
    var path_rect = svg
        .append('g')
        .attr('id', 'path_rect')
        .style('opacity', '0.9')
    var labels = svg
        .append('g')
        .attr('id', 'labels')
        .style('opacity', '0.9');


     $('.ui.search')
      .search({
        source : title_dict,
        searchFields   : ['title'],
        searchFullText: false,
        onSelect: function(result, response){
          //hide_label('labels_search');
          // setTimeout(function() { hide_label('labels_search') }, 20000);

          // checks whether the searched artist circle is 'viewable', if not, centers the view
          var auxtitle = result.id;
          var circle = document.getElementById(auxtitle);
          if (!checkVisible(circle)){
            //interpolateZoom([0, 0], 1);
          }
          point_click(result.title,result.id);
        },
      });

    function show_label(d, id_g) {
        var glabels = svg.select('#' + id_g)
        glabels.selectAll('*').remove();

        var group = glabels.selectAll('*').data(d).enter();

        var one_label = group
            .append('g')
            //.on('mouseover', (d) => d3.select(this).style("cursor", "pointer"))
            //.style('cursor', 'pointer')
            .on('click', (d) => point_click(d.title,d.id)
    )

        one_label.append('text')
            .attr('class', 'zoomable')
            .text(function (d) {
                return d.name
            })
            .attr('id', function (d) {
                return d.id + '|text'
            })
            .attr('fill', 'blue')
            .style('font-family', "Lato,'Helvetica Neue',Arial,Helvetica,sans-serif")
            .style('font-size', '11px')
            .style('font-weight', 'bold')
            .attr('transform', transform)
            .attr('dy', 5) // offset en y respecto a la pos absoluta
            .attr('dx', 17); // offset en x respecto a la pos absoluta

        one_label.insert('rect', ':first-child')
            .attr('class', 'zoomable_rect')
            .attr('fill', 'white')
            .attr('width', function (d) {
                return document.getElementById(d.id + '|text').getBBox().width + 14
            })
            .attr('height', 25)
            .attr('rx', 4)
            .attr('ry', 4)
            .attr('transform', transform_rect);

        glabels.style('opacity', '0').transition().duration(300).style('opacity', '0.9');

    }


    function zoomIn() {
        zoomClick_for_set(1);
    }

    function zoomOut() {
        zoomClick_for_set(-1);
    }

    function zoomReset() {
        // zoomClick(0);
        interpolateZoom([0, 0], 1);
    }

    d3.select('#zoom_in').on('click', zoomIn);
    d3.select('#zoom_out').on('click', zoomOut);
    d3.select('#zoom_rst').on('click', zoomReset);
    examples();
    d3.select('#examples').on('click', examples);

    function show_highlight(d) {
        var gcircles = svg.select('#circles_highlight');
        gcircles.selectAll('*').remove();
        var group = gcircles.selectAll('*').data(Array(d)).enter();
        var highlight = group.insert('circle', ':first-child')
            .attr('id', '#circle_highlight')
            .attr('class', 'zoomable')
            .attr('transform', transform)
            .attr('r', 8)
            .attr('fill', 'blue')
            .attr('pointer-events', 'none')
            .style('opacity', '0.8');
        repeat();

        function repeat() {
            highlight.transition()
                .duration(600)
                .attr('r', 5)
                .transition()
                .duration(600)
                .attr('r', 8)
                .ease('sine')
                .each('end', repeat);
        }

        gcircles.style('opacity', '0').transition().duration(300).style('opacity', '0.9');
    }

    function point_click(artist_name,id) {
        show_highlight(element_dict[artist_name]);
        show_sentiment_line(Array(element_dict[artist_name]), 'path_rect')
        create_show_sidebar(artist_name,id);
    }

    function create_show_sidebar(artist_name,id) {
        $('#artist_sidebar')
            .sidebar('setting', 'transition', 'overlay')
            .sidebar('setting', 'dimPage', false)
            .sidebar('setting', 'closable', false)
            .sidebar('show');
        get_recommend_sidebar(artist_name, id);
        $('#emotion_range').range({
            min: 0,
            max: 0.5,
            start: 0.05,
            step:0.02,
            onChange: function (val) {
                RangeValue = val;
                if (typeof change_recommend_movie_yes !== "undefined")
                {change_recommend_movie_yes(RangeValue,artist_name)}
                else {change_recommend_movie(RangeValue,artist_name)}
            }
        });
    }

    function change_recommend_movie(RangeValue, movie_name) {
        $.ajax({
            type: 'GET',
            url: '/change_recommend_movie',
            data: {"range_value": RangeValue, "title": movie_name},
            dataType: 'json',
            success: function (data) {
                $("#recommend_content").empty();
                recommend_title_list = data.recMovieTitle;
                recommend_id_list = data.recMovieId;
                for (j = 0; j < recommend_title_list.length; j++) {
                    extract(recommend_title_list[j], recommend_id_list[j]);
                }

            }

        });
    }


    function find_id(id){
        for(i=0;i<line_data.length;i++)
        {
            if(line_data[i].id==id){
                return line_data[i]
            }
        }

}


    function show_sentiment_line(d, id_g) {
        var glabels = svg.select('#' + id_g)
        glabels.selectAll('*').remove();
        var group = glabels.selectAll('*').data(d).enter();

        var one_path_rect = group
            .append('g')
            .style('cursor', 'pointer')

        one_path_rect.append('rect', ':last-child')
            .attr('class', 'zoomable_rect')
            .attr('fill', '#ffffff')
            .attr('width', 200)
            .attr('height', 200)
            .attr('rx', 10)
            .attr('ry', 10)
            .attr('transform', transform_rect_2);
        glabels.style('opacity', '0').transition().duration(300).style('opacity', '1');

        var choose_path_point=find_id(d[0].id);

        var xScaleLine = d3.scale.linear()
            .range([x(d[0].x), x(d[0].x) + 200])
            .domain([1, 100]);


        var yScaleLine = d3.scale.linear()
            .range([y(d[0].y)-100, y(d[0].y) + 100])
            .domain([-1,1]);


        var lineFunction = d3.svg.line()
            .x(function (d) {
                return (xScaleLine(d.index));
            })
            .y(function (d) {
                return (yScaleLine(d.point));
            })
            .interpolate("basis");



        group
            .append("path")
            .attr('class', 'zoomable')
            .attr("d", lineFunction(choose_path_point.line_points))
            .attr("stroke", "blue")
            .attr("stroke-width", 2)
            .attr("fill","none")
    }



        function hide_sentiment_line(id_g) {
        var glabels = svg.select('#' + id_g)
        glabels.transition().duration(200).style('opacity', '0');
        glabels.selectAll('*').transition().duration(200).remove();
    }


    movieDataTpl = (movie,id) =>
    {
        actors = movie.Actors.split(',');
        id=parseInt(id)
         return `
    <div class="movie__poster" style="
    width: 100%;
    height: 200px;
    ">
      <div  class="movie__poster--featured" style="width:160px;height: 200px;float:left">
         <img src="${movie.Poster}" style="width: 160px;
  height: 200px;" onclick="window.location='/player/${id}/1/'"/>
       </div>
       <div class="movie__poster--featured" style="width:160px ;float:right">
        <p>${movie.Title}</p>
        <p>${movie.Plot}</p>
    </div>
    </div>
`
};
    recommendMovieDataTpl = (movie,id) =>
    {return `<div  class="movie__poster--featured" style="width:140px;height: 200px;float:left">
<img src="${movie.Poster}" style="width: 140px;
  height: 200px; margin-left:20px" onclick="window.location='/player/${id}/1/'"/>
  </div>
`
};




   function extract(title,id){
        omdb_url = "http://www.omdbapi.com/?i=tt3896198&apikey=ecdad4ed&t=";
    $.ajax({
             type: 'GET',
             url: omdb_url + title,
             dataType: 'json',

             success: function (data) {
                 $('#recommend_content').append(recommendMovieDataTpl(data,id));
             }
         })
     };
   function extract_yes(title,id){
        omdb_url = "http://www.omdbapi.com/?i=tt3896198&apikey=ecdad4ed&t=";
    $.ajax({
             type: 'GET',
             url: omdb_url + title,
             dataType: 'json',

             success: function (data) {
                 $('#recommend_content_yes').append(recommendMovieDataTpl(data,id));
             }
         })
     };

     function get_recommend_sidebar(title,id) {
         //console.log(title)
         const defaultTitle = 'dead+poets+society';
         omdb_url = "http://www.omdbapi.com/?i=tt3896198&apikey=ecdad4ed&t="
         $.ajax({
             type: 'GET',
             url: omdb_url + title.replace(/ /gi, '+'),
             dataType: 'json',
             success: function (data) {
                 $('#sidebar_header_text').text(title);
                 $('#sidebar_spotify_content').html(movieDataTpl(data,id));
                 $("#recommend_content").empty();
             }
         })

     }
</script>

</html>

















