{% extends "home/home.html" %}

{% block content %}
<!--内容-->
<div class="container" style="margin-top:120px;">
    <div class="row">
        <div class="col-xs-8" >
            <div class="panel panel-default" style="width:70%;background-color: #4d4d4d !important;border-color: #4d4d4d;">
                <div class="panel-body" >
                    {% for msg in get_flashed_messages(category_filter=["err"]) %}
                        <div class="alert alert-success alert-dismissible">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×
                            </button>
                            <h4><i class="icon fa fa-check"></i> Fail</h4>
                            {{ msg }}
                        </div>
                    {% endfor %}
                    {% for msg in get_flashed_messages(category_filter=["ok"]) %}
                        <div class="alert alert-success alert-dismissible">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×
                            </button>
                            <h4><i class="icon fa fa-check"></i> Successful</h4>
                            {{ msg }}
                        </div>
                    {% endfor %}
                    <form role="form" method="post">
                        <fieldset>
                            <div class="form-group">
                                {{ form.email }}
                                {% for err in form.email.errors %}
                                    <div class="col-md-12">
                                        <p style="color: red">{{ err }}</p>
                                    </div>
                                {% endfor %}
                            </div>
                            <div class="col-md-12" id="error_contact"></div>
                            <div class="form-group">
                                {{ form.pwd }}
                                {% for err in form.pwd.errors %}
                                    <div class="col-md-12">
                                        <p style="color: red">{{ err }}</p>
                                    </div>
                                {% endfor %}
                            </div>
                            <div class="col-md-12" id="error_password" style="background-color: #282726 !important;"></div>
                            {{ form.csrf_token }}
                            {{ form.submit }}
                            <div class="form-group">
                        </fieldset>
                    </form>

                </div>
            </div>
        </div>
        <div class="col-xs-4" >
            <div style="color: #fff !important; padding: 10px;">
                        Want personal Recommendation? <a style="color: #fff !important;" href="{{url_for('home.regist')}}">Sign Up</a>
            </div>

        </div>
    </div>
</div>
<!--内容-->
{% endblock %}