<div class="col-md-3">
    <div class="list-group" style="board-color:#282726 !important;">
        <a id="m-1" href="{{ url_for('home.user')}}" class="list-group-item" style="color:white;background-color: #282726 !important;">
            <span class="glyphicon glyphicon-user"></span>&nbsp;Account
        </a>
        <a id="m-2" href="{{ url_for('home.pwd')}}" class="list-group-item" style="color:white;background-color: #282726 !important;>
            <span  class="glyphicon glyphicon-lock" ></span>&nbsp;Change the password
        </a>
        <a id="m-3" href="{{ url_for('home.comments',page=1)}}" class="list-group-item" style=" color:white;background-color: #282726 !important;>
            <span class="glyphicon glyphicon-comment"></span>&nbsp;Comment Record
        </a>
        <a id="m-4" href="{{ url_for('home.loginlog',page=1)}}" class="list-group-item" style="color:white;background-color: #282726 !important;>
            <span class="glyphicon glyphicon-calendar"></span>&nbsp;Login Log
        </a>
    </div>
</div>